.container02
  = render "/shared/header01"

  .signup__container
    .signup__container__l

      = form_for @user, url:  user_registration_path, method: :post, class: "signup__container__main" do |f|
        =render "devise/shared/error_messages", resource: @user
          
        %h2 会員情報入力
        .signup__contents__l
          .signup__contents__l__field
            %div
              = f.label :nickname, "ニックネーム"
              %span.span 必須
              -# spanタグはインライン要素
              = f.text_field :nickname, placeholder: "(例)フリマ太郎", class: "input-default", autofocus: true
              - if session[:errorname]
                %q ニックネームが無効です
                -# qタグはインライン要素  
          .signup__contents__l__field
            %div
              = f.label :email, "メールアドレス"
              %span.span 必須
              = f.email_field :email, placeholder: "PC,携帯どちらでも可", class: "input-default",autofocus: true, autocomplete: "email"
              - if session[:errormail]
                %q メールアドレスが無効です
          .signup__contents__l__field
            %div
              = f.label :password, "パスワード"
              %span.span 必須
              = f.password_field :password, placeholder: "７文字以上の半角英数字",class: "input-default",autocomplete: "new-password"
              - if session[:errorpassword]
                %q パスワードが無効です
            .form-info-text ※英字と数字の両方含めて設定して下さい。
            %span.form-info-text パスワードを表示する
          .signup__contents__l__field
            %div
              = f.label :password_confirmation, "パスワード（確認用）"
              %span.span 必須
              = f.password_field :password_confirmation, placeholder: "７文字以上の半角英数字(確認用)",class: "input-default",autocomplete: "new-password"
          .signup__contents__l__field
            %h3 本人確認
            .form-info-text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。  
          .signup__contents__l__field
            %div
            = f.label :family_name, "お名前(全角) "
            %span.span 必須
          .signup__contents__l__field__name
            = f.text_field :family_name, placeholder: "例) 山田", class: "input-default"
            - if session[:errorfamilyname]
              %q 名字が無効です
            = f.text_field :first_name, placeholder: "例) 彩", class: "input-default"
            - if session[:errorfirstname]
              %q 名前が無効です
          .signup__contents__l__field
            %div
            = f.label :family_name_rubi, "お名前カナ(全角) "
            %span.span 必須
          .signup__contents__l__field__name
            = f.text_field :family_name_rubi, placeholder: "例) ヤマダ", class: "input-default"
            - if session[:errorfamilyname_rubi]
              %q 名字(カナ)が無効です
            = f.text_field :first_name_rubi, placeholder: "例) アヤ", class: "input-default"
            - if session[:errorfirstname_rubi]
              %q 名前(カナ)が無効です
          .signup__contents__l__field
            = f.label "生年月日 "
            %span.span 必須
            %br
            .signup__contents__l__field__select
              .signup__contents__l__field__select__wrap
                -# %i.fas.fa-chevron-down   ←★★73行目：今後ＣＳＳの出来を高めるために使う可能性あり
                = f.date_select :birthday, prompt:"--", start_year:Time.now.year, end_year:Time.now.year-100, class: "select--default__year", use_month_numbers: true
                -# != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
                -# ★★75行目：本当はこっちにしたいが、現状うまくコントローラの記述が出来ないため模索中
              - if session[:errorbirth_year]
                %q 生年月日が無効です
              .form-info-text ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
              -# ★★82-88行目は今後の追加実装に向けて残しておく。
          -# .signup__contents__l__field
          -#   = check_box_tag :name, "", "", checked: false, class: "checkbox-default" #仮の引数
          -#   私はロボットではありません
          -# .signup__contents__l__field
          -#   .form-info-text 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
          -# .signup__contents__l__field__submit
          -#   = f.submit "次へ進む", class:"btn-default btn-red"
          .signup__contents__l__field
            = link_to "#" do
              本人情報の登録について
              %i.fas.fa-chevron-right

        %h2 お届け先住所入力
        .signup__contents__l
          .signup__contents__l__field
            = f.label :zipcode, "郵便番号（ハイフン不要）"
            %span.span 必須
            = f.text_field :zipcode, placeholder: "例) 1234567", class: "input-default"
            - if session[:errorzipcode]
              %q 郵便番号が無効です
          .signup__contents__l__field
            = f.label :prefecture_code, "地域"
            %span.span 必須
            .signup__contents__l__field__select
              %i.fas.fa-chevron-down
              = f.collection_select :prefecture_code, Prefecture.all, :id, :name, prompt: "---", class: "input-default"
              - if session[:errorprefecture_code]
                %q 都道府県が無効です
          .signup__contents__l__field
            = f.label :city, "市町村"
            %span.span 必須
            = f.text_field :city, placeholder: "例) 大阪市西区", class: "input-default"
            - if session[:errorcity]
              %q 都市が無効です
          .signup__contents__l__field
            = f.label :house_number, "番地"
            %span.span 必須
            = f.text_field :house_number, placeholder: "例) 新町1-1-1", class: "input-default"
            - if session[:errorhouse_number]
              %q 地域が無効です
          .signup__contents__l__field
            = f.label :building_number, "建物名"
            %span.span__ninni 任意
            = f.text_field :building_name, placeholder: "例) 新町ビル505", class: "input-default"
            - if session[:errorbuilding_name]
              %q 建物名が無効です
        %h2 電話番号の確認
        .signup__contents__l
          .signup__contents__l__field
            = f.label :phone_number, "携帯電話の番号(ハイフン不要)"
            %span.span__ninni 任意
            = f.phone_field :phone_number, placeholder: "携帯電話の番号(ハイフン不要)", class: "input-default"
            - if session[:errorphone_number]
              %q 番号が無効です
          .signup__contents__l__submit
            = f.submit "次へ進む", class:"btn__default--btn--red"

  = render "/shared/footer01"      