.body
  .header
    .header-inner
      .innner-top
        %h1.innner-icon
          %a.innner-icon__a{href: "#"}
            %span.innner-icon__image
              = image_tag src="/assets/logo.png", size: "140x41"
        .innner-top__box
          %form{"accept-charset": "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{class:'innner-top__box-input', name: "key", placeholder: "キーワードから探す" }/
            %button{type: "submit"}
              %span.innner-top__box__icon
                = image_tag src= "/assets/icon-search 1.png"
      .innner-lists
        %ul.lists-left
          %li.lists-left__item
            = link_to "#", class: "lists-left__item-category" do
              カテゴリー
            -# .tree.displayNone
            -#   %ul.categoryTree
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         レディース
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         メンズ
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         ベビー・キッズ
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         インテリア・住まい・小物
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         本・音楽・ゲーム
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         おもちゃ・ホビー・グッズ
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         コスメ・香水・美容
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         家電・スマホ・カメラ
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         スポーツ・レジャー
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         ハンドメイド
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         チケット
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         自動車・オートバイ
            -#     %li.categoryTree--item
            -#       = link_to "#" do
            -#         その他
          %li.lists-left__item
            = link_to "#", class:"lists-left__item-brand" do
              ブランド
        %ul.lists-right
          %li.lists-right__item
            = link_to "#", class:"lists-right__item-login" do
              ログイン
          %li.lists-right__item
            = link_to "#", class:"lists-right__item-register" do
              新規会員登録