.container02
  = render "/shared/header01"
  
  .login
    .login__content
      .login__content--no__acount
        %p アカウントをお持ちでない方
        %a(href= "/users/sign_up")新規会員登録
      .login__content__form
        = link_to "#", class: "default__btn default__btn--google" do
          = icon('fab', 'google',  class: "contents__btn--icon")
          Googleでログイン
        = link_to "#", class: "default__btn default__btn--facebook" do
          = icon('fab', 'facebook-square',  class: "contents__btn--icon")
          Facebookでログイン
        = link_to "#", class: "default__btn default__btn--apple" do
          = icon('fab', 'apple',  class: "contents__btn--icon")
          Appleでログイン
      .login__content__form
        = form_for @user, url:  user_session_path, method: :post, class: "session__container__main" do |f|
          .login__content__form__group
            = f.email_field :email, placeholder: "メールアドレス", class: "login__input__text" #, autofocus: true, autocomplete: "email"
            - if session[:errormail]
              %q メールアドレスが無効です
          .login__content__form__group
            = f.password_field :password, placeholder: "パスワード",class: "login__input__text" #,autocomplete: "new-password"
            - if session[:errorpassword]
              %q パスワードが無効です
          .login__content__form__group
            = f.submit "ログイン", class:"login__btn"

  = render "/shared/footer01"