.wrapper
  .header02
    = image_tag asset_path('logo.png'), type: '', alt: '', size: "140x41"
  .items
    .body
      = form_with model: @product ,local: true do |f|
        .photos
          .upload-box
            .style_formLabel
              %label
                出品画像
              %label.sign
                必須
              %p
              最大１０枚までアップロードできます
            .image-box
              #image-box
                %label    
                  %i.fas.fa-camera
                  #previews
                    - if @product.persisted? 
                      - @product.productphotos.each_with_index do |image, i|
                        = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
                  = f.fields_for :productphotos do |i|
                    .js-file_group{"data-index" => "#{i.index}"}
                      = i.file_field :src, class: 'js-file'
                      %span.js-remove
                        削除
                    
                      -if @product.persisted?
                        = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
                    -if @product.persisted?
                      .js-file_group{"data-index" => "#{@product.productphotos.count}"}
                        = file_field_tag :src, name: "product[productphotos_attributes][#{@product.productphotos.count}][src]", class: 'js-file'
                        %span.js-remove
                          削除
                  %p
                    ドラックアンドドロップ
                  %p
                    またはクリックしてファイルをダウンロード 
        .commodity
          .commodity__name
            .style_formLabel
              %p
                商品名
                %label.sign
                  必須
                = f.text_field :name 
          .commodity__detail
            .style_formLabel
              %p
                商品の説明
                %label.sign
                  必須
                = f.text_area :description, class: "commodity__detail__description"
        .details
          .exhibitionPage
            .exhibitionPage__main
              .exhibitionPage__main__contents
                
                .exhibitionPage__main__contents__detail
                  .exhibitionPage__main__contents__detail__title
                    %p 商品の詳細
                  .exhibitionPage__main__contents__detail__category
                    .exhibitionPage__main__contents__detail__category__title
                      %label.sab-title カテゴリー
                      %span.required 必須
                  
                    .exhibitionPage__main__contents__detail__category__choose
                      = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '---'}, {id: 'parent_category'}

                    //.size-sellect_form
                    //  = f.collection_select :size_id, Size.find([1,2]),:id, :size,class:"input"
                    
          .details__brand
            = f.fields_for :brand do |b|
              %span ブランド
              %span.form-require-gray 任意
              = b.text_field :name, placeholder: "例）シャネル", value: "", class: "input-default"
                    
          .style_formLabel
            %span.identification__form__field__label 商品の状態
            %span.identification__form__field__arbitrary 必須
            .identification__form__field--input.icon-relative
              = f.collection_select :productcondition_id, Productcondition.all, :id, :name, class: 'input' 
        .delivery
          .style_formLabel
            %span.identification__form__field__lavel 発送料金の負担 
            %span.identification__form__field__arbitrary 必須
            = f.collection_select :postagepayer_id, Postagepayer.all, :id, :name, class: 'input'
          .style_formLabel
            %span.identification__form__field__lavel 発送元の地域
            %span.identification__form__field__arbitrary 必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'input'
          .style_formLabel
            %span.identification__form__field__lavel 発送までの日数
            %span.identification__form__field__arbitrary 必須
            = f.collection_select :shippingdate_id, Shippingdate.all, :id, :name, class: 'input'
          .price
            .price__celect
              .labels
                %p.identification__form__field__lavel 
                  販売価格
                %p.identification__form__field__arbitrary 
                  必須
              .price__celect__plate
                ￥
              = f.number_field :price
            .price__fee
              %p
                販売手数料 (10%)
              %p#handlefee
                
              %p
                円
          .bottom
            .profit
              %p
                販売利益
              %p#profit

              %p
                円
                
            .buttons    
              = f.submit "出品する", class: "buttons__sell"
              .buttons__save 下書きに保存
              =link_to "product_path" do
                .buttons__back もどる
              .warning
                禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
= render "/shared/footer02" 