= render 'shared/header01'

%main.products-purchase-wrapper
  %section.products-purchase-wrapper__buy-item-container
    %h2.products-purchase-wrapper__buy-item-container__buy-head 購入内容の確認

    .products-purchase-buy-content
      .products-purchase-buy-content__inner
        .products-purchase-buy-content__inner__item-box
          %h3.products-purchase-buy-content__inner__item-box__image
            %img.products-purchase-buy-content__inner__item-box__image--img-loaded{src: @product.productphotos.first.src.url}/
          .products-purchase-buy-content__inner__item-box__detail
            %p.products-purchase-buy-content__inner__item-box__detail__name
              = @product.name
            %p.products-purchase-buy-content__inner__item-box__detail__price-ja
              %span
                = @product.price.to_s(:delimited)
                円
              %span.products-purchase-buy-content__inner__item-box__detail__price-ja__shipping-fee （税込）送料込み

    %section.products-purchase-buy-content
      .products-purchase-buy-content__inner
        = form_with(url: purchase_product_path, local: true, method: :post) do |form|
          %ul.products-purchase-buy-price-table
            %li.products-purchase-buy-price-row
              .products-purchase-buy-price-cell.buy-price-cell-label 支払い金額
              .products-purchase-buy-price-cell
                %span
                  = @product.price.to_s(:delimited)
                  円

          %section.buy-user-info
            .products-purchase-buy-content__inner
              .clearfix
                %h3.products-purchase-l-left 支払い方法
              %p.products-purchase-buy-user-info-text
                %br/
                クレジットカード
                %br/
                = "**** **** **** " + @creditcard_information.last4
                %br/
                - mm = @creditcard_information.exp_month.to_s
                - yy = @creditcard_information.exp_year.to_s.slice(2,3)
                = mm + " / " + yy
              %figure.products-purchase-buy-card-logo
                = image_tag "#{@card_src}", height: '33', width: '46', alt: @card_brand, id: "card_image"

          %section.buy-user-info
            .products-purchase-buy-content__inner
              .clearfix
                %h3.products-purchase-l-left 配送先
              %address.products-purchase-buy-user-info-text
                %p
                  %br
                  = "〒" + "#{@user.zipcode}"
                  %br
                  = Prefecture.find_by_id(@user.prefecture_code).name
                  %br
                  = @user.city
                  = @user.house_number
                  = @user.building_name
                  %br
                  =@user.family_name
                  =@user.first_name
          %section.buy-user-info
            %p.products-purchase-has-info-text
              郵便局/コンビニ受取をご希望の方は、購入後に
              %span.products-purchase-bold> 取引画面
              から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
          %label.products-purchase-btn-default.btn-red.bold
            = form.submit '購入する'

= render 'shared/footer01'